<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<style>
    textarea {
        width: 300px;
        height: 150px;
    }
</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">WebBlog</a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/posts/getAllPosts">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/posts/createPost">Create your post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Your profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/posts/getYourPosts">Your post</a>
                    </li>
                </ul>
                <form class="d-flex input-group w-auto">
                    <input type="search" class="form-control" placeholder="Search Post" aria-label="Search" />
                    <button class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1 class="mb-4 d-flex">Create your post</h1>
        <form action="" method="post">
            <div class="form-group">
                <label for="title">Title</label>
                <input required value="" type="text" name="title" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="title">Category</label>
                <input required value="" type="text" name="category" id="title" class="form-control">
            </div>
            <div class="form-group">
                <label for="markdown">Content</label>
                <textarea required name="content" id="markdown" class="form-control"></textarea>
            </div>

            <a href="/posts/getAllPosts" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

</html>